@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#050505] text-white overflow-x-hidden font-sans antialiased;
  }
}

@layer utilities {
  .font-mono {
    font-family: 'Space Grotesk', monospace;
  }
}

/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}